<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DJango 1</title>
</head>
<body>
<h1>Put Text In This Box To Analyze It</h1>
<form action="/analyze", method="get">
    <textarea name = "text" style="width: 1505px; height: 254px;"></textarea>
    <input name="removepunc", type="checkbox">Remove Puctuations
    <br>
    <input name="Uppercase", type="checkbox">Change To <b>UPPERCASE</b>
    <br>
    <input name="Newlineremover", type="checkbox">Remove New Lines
    <br>
    <button type="submit"> ANalyze Text</button>


</form>
</body>
</html>